.contactCard{
  width: 400px;
  height: 80px;
  margin-bottom: 8px;
  font-family: "Palatino Linotype";
  }

.cardTitle{
  font-family: "Palatino Linotype";
  font-size: 20px;
}

.cardContent{
/*  margin-left: 60px;*/
}

.table {
  display: flex;
  border: solid;
}
.iconCol{
  width: 60px;
}
.bigIcon{
  font-size: 50px;
}
