<mat-sidenav-container class="container">

  <mat-sidenav #sidenav class="sidenav">
    <div>
      <button mat-mini-fab class="example-fab" [routerLink]="['']" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div>
      <button mat-mini-fab class="logout" [routerLink]="['logout']" (click)="sidenav.close()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>

  </mat-sidenav>

  <div class="sidenav-content">
  </div>

  <mat-toolbar color="primary">

    <button mat-icon-button color="white" (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

    Contact App

  </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

